<ion-header>
	<ion-toolbar color="danger">
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title> {{ (bloodGroup | async)?.group }} </ion-title>
		<ion-buttons slot="end" routerLink="/create/{{bloodGroupId}}">
			<ion-icon slot="icon-only" name="add"></ion-icon>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content padding>
	<ion-searchbar mode="ios" animated="true" show-cancel-button placeholder="Search" (ionInput)="search($event)">
	</ion-searchbar>

	<ion-card *ngFor="let person of persons">
		<ion-item (click)="summary(person.id, person.groupId)">
			<ion-label color="danger">{{ person.name }}</ion-label>
			<ion-button color="danger" (click)="delete($event, person.id)" slot="end">
				<ion-icon name="trash"></ion-icon>
			</ion-button>
		</ion-item>

		<ion-card-content (click)="summary(person.id, person.groupId)">
			<b>Place:</b> {{ person.place }}
			<hr>
			<b>Phone Number:</b> {{ person.phone }}
		</ion-card-content>
	</ion-card>
</ion-content>