<ion-header>
	<ion-toolbar color="danger">
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title>Add People</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content padding>
	<form [formGroup]="addPersonForm" (submit)="addPerson()">
		<ion-item>
			<ion-input formControlName="name" type="text" placeholder="Name"></ion-input>
		</ion-item>
		<ion-item>
			<ion-textarea formControlName="address" type="text" placeholder="Address">
			</ion-textarea>
		</ion-item>

		<ion-item>
			<ion-input formControlName="contact" type="text" placeholder="Phone Number">
			</ion-input>
		</ion-item>

		<ion-item>
			<ion-datetime formControlName="bleedDate" type="text" placeholder="Last bleed date">
			</ion-datetime>
		</ion-item>
		<ion-button expand="block" type="submit" [disabled]="!addPersonForm.valid">Add</ion-button>
	</form>
</ion-content>